<%= form_tag scope: :artists, url: artists_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :painting %><br>
    <%= form.file_field :painting %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
